* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*estilos generales*/
header {
  background: transparent;
  width: 100%;
  height: 100px;
}

.menu-lateral {
  position: fixed;
  background: linear-gradient(#490665, #d500ba);
  width: 120px;
  height: 100%;
}
.menu-lateral nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu-lateral nav img {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  margin: 10px 0 0 0;
}
.menu-lateral nav ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-lateral nav ul li {
  background: linear-gradient(#671a86, rgb(32, 32, 32));
  padding: 5px;
  border: solid 1px gray;
  border-radius: 9px;
  box-shadow: 2px 4px 3px;
}
.menu-lateral nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  margin: 0 0 0 100px;
  background-image: url("/media/img/fondo-1.jpg");
}
main .caja-seccion {
  margin: 15px 60px 0 60px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 1px 20px #9920d0;
  background-color: #e0dfe2;
  transition: 0.5s;
}
main .proyecto-principal {
  height: 310px;
  display: flex;
  background: linear-gradient(rgba(72, 6, 101, 0.631372549), rgba(213, 0, 185, 0.7137254902));
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .proyecto-principal .texto {
  width: 28%;
  height: 100%;
  padding: 10px;
  color: white;
}
main .proyecto-principal .imagen {
  width: 50%;
  display: flex;
  justify-content: right;
}
main .proyecto-principal .imagen a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main .mis-lenguajes {
  background: rgba(0, 0, 0, 0.502);
}
main .mis-lenguajes h2 {
  text-align: center;
  color: white;
  font-weight: 900;
}
main .mis-lenguajes .caja-lenguajes {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
main .mis-lenguajes .caja-lenguajes .html,
main .mis-lenguajes .caja-lenguajes .css,
main .mis-lenguajes .caja-lenguajes .javascript {
  width: 30%;
  height: auto;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .mis-lenguajes .caja-lenguajes .html img,
main .mis-lenguajes .caja-lenguajes .css img,
main .mis-lenguajes .caja-lenguajes .javascript img {
  width: 120px;
}
main .mis-lenguajes .caja-lenguajes .html p,
main .mis-lenguajes .caja-lenguajes .css p,
main .mis-lenguajes .caja-lenguajes .javascript p {
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  text-align: center;
  color: white;
}
main .mis-lenguajes .caja-lenguajes .html img {
  width: 160px;
}
main .mi-Proceso {
  background: rgba(0, 0, 0, 0.502);
  height: 200px;
  padding: 15px;
}
main .mi-Proceso .contenedor-listas {
  padding: 15px;
  display: flex;
}
main .mi-Proceso h2,
main .mi-Proceso li,
main .mi-Proceso p {
  color: white;
}
main .mis-proyectos {
  background: rgba(0, 0, 0, 0.502);
}
main .mis-proyectos h2 {
  text-align: center;
  margin-bottom: 15px;
  color: white;
}
main .mis-proyectos .contenedor-proyectos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .mis-proyectos .contenedor-proyectos .caja-proyectos {
  color: white;
  padding: 10px;
  width: 290px;
  height: 250px;
  border: 1px solid #9920d0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .mis-proyectos .contenedor-proyectos .caja-proyectos img {
  width: 160px;
  background-color: white;
}
main .sobre-mi {
  background: rgba(0, 0, 0, 0.502);
}
main .testimonios {
  background: rgba(0, 0, 0, 0.502);
}
main .testimonios h2 {
  text-align: center;
}
main .testimonios .caja-testimonios {
  background-color: white;
}
main .contactos {
  background: rgba(0, 0, 0, 0.502);
}

.caja-seccion:hover {
  scale: 1.04;
  transition: 0, 5s;
}

/*# sourceMappingURL=styles.css.map */
