/* ESTILO SOLO PARA VER LAS CAJAS */
/* ESTILO PARA EL FONDO DE PANTALLA */
/* BARRA DE NAVEGACION */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
}

.navegacion {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
}
.navegacion .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.navegacion .container .caja_img {
  width: 220px;
  border: 4px solid;
}
.navegacion .container .caja_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 9px white;
}
.navegacion .container .caja_img h3 {
  margin: 5px;
  text-shadow: 1px 1px 8px white;
  color: white;
}
.navegacion .container h3 {
  text-align: center;
}
.navegacion .container .enlaces {
  width: 100%;
  height: 69%;
}
.navegacion .container .enlaces ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.navegacion .container .enlaces ul li {
  text-align: center;
  font-size: 22px;
  width: 50%;
  border: 1px solid white;
  border-radius: 5px 5px 20px 20px;
  padding: 5px;
}
.navegacion .container .enlaces ul li:hover {
  background-color: rgb(209, 209, 209);
  transition: all 0.3s;
}
.navegacion .container .enlaces ul li:hover a {
  color: black;
}
.navegacion .container .enlaces ul li a {
  text-decoration: none;
  transition: all 0.3s;
  color: white;
}

/* BTN DESPLEGAR MENU */
#menu-desplegar {
  display: none;
}

/* ICONO DE MENU HAMBUERGUESA */
.menu-icon {
  background-color: rgb(37, 36, 36);
  color: white;
  text-align: center;
  font-size: 23px;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  position: absolute;
  left: 83%;
  top: 0px;
  border: 1px solid;
  border-radius: 50%;
  z-index: 2;
}

#menu-desplegar:checked ~ #menu {
  display: flex;
}

.nombre {
  font-weight: 500;
  font-size: 27px;
  display: block;
}

/* MAIN */
main {
  position: relative;
  background-image: url("https://img.freepik.com/vector-premium/resumen-puntos-lineas-conexion-fondo-ciencia-conexion_41981-1595.jpg?w=740");
  background-size: auto;
}
main .presentacion {
  position: absolute;
  bottom: 5px;
  width: 95%;
  height: auto;
  text-align: center;
  color: white;
}
main .presentacion h2 {
  font-size: 22px;
}
main .img_presentacion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
main .img_presentacion img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 9px;
}
main h4 {
  text-align: center;
  padding: 5px 12px;
  text-shadow: 1px 1px 1px;
  border-bottom: 2px solid blueviolet;
}
main .QuienSoy {
  height: auto;
  margin: auto;
}
main .QuienSoy p {
  font-size: 15px;
  padding: 5px;
}
main .QuienSoy .trabajos {
  height: auto;
}
main .QuienSoy .trabajos h4 {
  font-size: 20px;
}
main .QuienSoy .trabajos p {
  font-size: 15px;
  padding: 5px;
}
main .QuienSoy .Datos_personales {
  height: auto;
}
main .QuienSoy .Datos_personales ul {
  list-style-type: circle;
}
main .desarrollo {
  margin: auto;
}
main .desarrollo .skills ul {
  list-style-type: none;
}
main .desarrollo .skills ul li {
  margin: 5px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
main .desarrollo .skills ul li .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .desarrollo .skills ul li .content p {
  margin: 0;
}
main .desarrollo .skills ul li .barra {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
}
main .desarrollo .skills ul li .barra .progreso_barra {
  height: 100%;
  background-color: rgb(153, 0, 255);
  border-radius: 10px;
}
main .exp_front_end {
  margin: auto;
}
main .exp_front_end .content-Certificados {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: normal;
  gap: 11px;
}
main .exp_front_end .content-Certificados div {
  min-width: 200px;
  height: 120px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  transition: all 0.4s;
}
main .exp_front_end .content-Certificados div:hover {
  scale: 1.09;
  transition: all 0.4s;
}
main .portafolio {
  margin: auto;
}
main .portafolio .col {
  margin: auto;
  margin-bottom: 10px;
  width: 320px;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .portafolio .col img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
main .portafolio .col .content {
  padding: 5px;
  width: 100%;
}
main .contacto ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
main footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 300px) {
  .menu {
    display: none;
  }
}
@media only screen and (min-width: 375px) {
  main .img_presentacion .presentacion {
    bottom: 20px;
  }
  main .img_presentacion .presentacion .nombre {
    font-size: 35px;
  }
  main .img_presentacion .presentacion h3 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 540px) {
  main .img_presentacion .presentacion {
    bottom: 30px;
  }
  main .img_presentacion .presentacion .nombre {
    font-size: 42px;
  }
  main .img_presentacion .presentacion h3 {
    font-size: 37px;
  }
}
@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .menu {
    display: flex;
  }
  main {
    margin-left: 195px;
  }
  main .img_presentacion .presentacion {
    bottom: 45px;
  }
  .navegacion {
    width: 22%;
  }
  .navegacion .container .enlaces ul li {
    width: 85%;
  }
}
@media only screen and (min-width: 880px) {
  main {
    margin-left: 220px;
  }
  main .img_presentacion .presentacion {
    bottom: 45px;
  }
  .navegacion {
    width: 23%;
  }
  .navegacion .container .enlaces ul li {
    width: 85%;
  }
}
@media only screen and (min-width: 1024px) {
  main {
    margin-left: 223px;
  }
  main .img_presentacion .presentacion {
    bottom: 110px;
  }
  main .img_presentacion .presentacion .nombre {
    font-size: 74px;
  }
  main .img_presentacion .presentacion h3 {
    font-size: 56px;
  }
  .navegacion {
    width: 20%;
  }
  .navegacion .container .enlaces ul li {
    width: 85%;
  }
}
@media only screen and (min-width: 1124px) {
  main {
    margin-left: 223px;
  }
  main .img_presentacion .presentacion {
    bottom: 110px;
  }
  main .img_presentacion .presentacion .nombre {
    font-size: 74px;
  }
  main .img_presentacion .presentacion h3 {
    font-size: 56px;
  }
  .navegacion {
    width: 20%;
  }
  .navegacion .container .enlaces ul li {
    width: 85%;
  }
}
@media only screen and (min-width: 1220px) {
  main {
    margin-left: 293px;
  }
  main .img_presentacion .presentacion {
    bottom: 110px;
  }
  main .img_presentacion .presentacion .nombre {
    font-size: 74px;
  }
  main .img_presentacion .presentacion h3 {
    font-size: 56px;
  }
  .navegacion {
    width: 23%;
  }
  .navegacion .container .enlaces ul li {
    width: 85%;
  }
}
@media only screen and (min-width: 1310px) {
  main {
    margin-left: 260px;
  }
  main .img_presentacion .presentacion {
    bottom: 110px;
  }
  main .img_presentacion .presentacion .nombre {
    font-size: 74px;
  }
  main .img_presentacion .presentacion h3 {
    font-size: 56px;
  }
  .navegacion {
    width: 19%;
  }
  .navegacion .container .enlaces ul li {
    width: 85%;
  }
}
@media only screen and (min-width: 1440px) {
  main {
    margin-left: 265px;
  }
  main .img_presentacion .presentacion {
    bottom: 110px;
  }
  main .img_presentacion .presentacion .nombre {
    font-size: 74px;
  }
  main .img_presentacion .presentacion h3 {
    font-size: 56px;
  }
  .navegacion {
    width: 18%;
  }
  .navegacion .container .enlaces ul li {
    width: 85%;
  }
}
@media only screen and (min-width: 1530px) {
  main {
    margin-left: 290px;
  }
  main .img_presentacion .presentacion {
    bottom: 110px;
  }
  main .img_presentacion .presentacion .nombre {
    font-size: 74px;
  }
  main .img_presentacion .presentacion h3 {
    font-size: 56px;
  }
  .navegacion {
    width: 18%;
  }
  .navegacion .container .enlaces ul li {
    width: 85%;
  }
}

/*# sourceMappingURL=styles.css.map */
