@media only screen and (min-width: 300px) {
    .menu {
        display: none;
    }
}



@media only screen and (min-width: 375px) {
    main {

        .img_presentacion {
            .presentacion {
                bottom: 20px;

                .nombre {
                    font-size: 35px;
                }

                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 540px) {
    main {
        .img_presentacion {
            .presentacion {
                bottom: 30px;

                .nombre {
                    font-size: 42px;
                }

                h3 {
                    font-size: 37px;
                }
            }
        }
    }

}


@media only screen and (min-width: 768px) {
    main {
        margin-left: 215px;
        .img_presentacion {
            .presentacion {
                bottom: 45px;

                .nombre {
                    font-size: 54px;
                }

                h3 {
                    font-size: 45px;
                }
            }
        }
    }

    .navegacion {
        width: 16%;

        .container{

            .enlaces{
                ul{
                    
                    li{
                        width: 65%;
                    }
                }
        }
    }

}
}


@media only screen and (min-width: 1024px) {
    main {
        margin-left: 162px;
        .img_presentacion {
            .presentacion {
                bottom: 110px;

                .nombre {
                    font-size: 74px;
                }

                h3 {
                    font-size: 56px;
                }
            }
        }
    }
}