// colores de fondo
$color_principal : #671a86;
$color_secundario : #70025e;
$color_cards: #e0dfe2 ;
$color_cards2: #978f9e ;

$color-principal-50: #fff1fc;
$color-principal-100: #ffe2fb;
$color-principal-200: #ffc4f5;
$color-principal-300: #ff96e8;
$color-principal-400: #ff58da;
$color-principal-500: #ff1ad3;
$color-principal-600: #ff00e3;
$color-principal-700: #d500ba;
$color-principal-800: #ad0094;
$color-principal-900: #70025e;
$color-principal-950: #610052;

$color-secundario-50: #fcf5ff;
$color-secundario-100: #f7e8ff;
$color-secundario-200: #f0d4ff;
$color-secundario-300: #e4b3ff;
$color-secundario-400: #d382fe;
$color-secundario-500: #c153f9;
$color-secundario-600: #b030ed;
$color-secundario-700: #9920d0;
$color-secundario-800: #801faa;
$color-secundario-900: #671a86;
$color-secundario-950: #490665;



