*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*estilos generales*/
// body{}
header{
    background-color: orange;
    width: 100%;
    height: 120px;
    
}
.menu-lateral{
    position: fixed;
    background-color: blue;
    width: 120px;
    height: 100%;

    nav{
        width: 100%;        
        height: 100%;
        ul{
            list-style-type: none;
            width: 100%;
            height: 85%;    
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            li{ 
                padding: 5px;
                border: solid 1px gray;
                border-radius: 9px; 
                box-shadow: 2px 4px 3px;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
main{
    margin: 0 0 0 120px;
    grid-area: main;
    background-color: green;
    .caja-seccion{
        background-color: beige;
        margin: 15px 60px 0 60px;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 2px 5px 9px;
    }
    .proyecto-principal{
        height: 250px;
        display: flex;
        justify-content: space-evenly;
        .texto{
            width: 60%;
            padding: 10px;
            // background-color: orange;
        }
        .imagen{
            width: 40%;
            // background-color: black;
            display: flex;
            justify-content: right;
            a{ 
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
            }
        }
    }
} }